// ========== sidebar ========== //
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    height: 100%;
    width: 400px;
    border-right: 2px solid #000;
    transition: all 0.3s ease-out .0s;
    overflow-x: hidden;
    transform: translate3d(-402px, 0, 0);
    background-color: #fff;
    &::-webkit-scrollbar {
        width: 2px;
    }
}

// ========== sidebar header ========== //
.sidebar-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
    display: flex;
    height: 8rem;
    justify-content: space-between;
    align-items: center;
    border-top: $header-border-top-width solid #fff;
    background-color: #222;
    &::after {
        content: '';
        position: absolute;
        height: calc(50% - 2px);
        width: 2px;
        top: 0;
        left: calc(100% - 2px);
        background-color: $feature-color;
        transform: translate3d(0, 0, 0);
        transition: all 0.2s ease-in-out .0s;
    }
}

// sidebar category
.sidebar-category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: $feature-font-family;
    flex-grow: 1;
    height: 100%;
    justify-content: space-around;
    color: #fff;
}

.sidebar-archive-link,
.sidebar-tags-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 2rem;
    width: 100%;
    height: 50%;
    cursor: pointer;
    border-bottom: 2px solid #666;
    span {
        font-size: 2rem;
        margin: 0 0.8rem 0 1.2rem;
    }
}

.sidebar-tags-link {
    span {
        transform: translateY(10%);
    }
}

.sidebar-header-show-archive {
    &::after {
        transform: translate3d(0, 0, 0);
    }
}

.sidebar-header-show-tags {
    &::after {
        height: calc(50% - 2px);
        transform: translate3d(0, calc(100% + 2px), 0);
    }
}

// ========== sidebar content ========== //
.sidebar-content {
    position: relative;
    margin-top: 8rem;
    display: flex;
    width: 200%;
    height: calc(100% - 8rem);
    top: 0;
    left: 0;
    transition: all 0.2s ease-out .0s;
    background-color: #222;
    overflow-x: hidden;
    transform: translate3d(0, 0, 0);
}

.sidebar-archive,
.sidebar-tags {
    overflow-x: hidden;
    overflow-y: auto;
    flex-shrink: 0;
    background-color: #222;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.sidebar-content-show-archive {
    transform: translate3d(0, 0, 0);
}

.sidebar-content-show-tags {
    transform: translate3d(-50%, 0, 0);
}

.sidebar.sidebar-show {
    transform: translate3d(0, 0, 0);
}

.sidebar-show-immediately {
    transition: initial;
    &::after {
        transition: initial;
    }
}
