// ========== sidebar tags ========== //
.sidebar-tags {
    padding: 1rem;
    width: calc(50% - 2rem);
    position: relative;
    display: flex;
    flex-direction: column;
}

.sidebar-tags-name {
    flex-grow: 0;
    width: 100%;
    padding: 0 0 1rem 0;
}

.sidebar-tag-name {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 5rem;
    padding: 0.07rem 0.4rem 0.1rem 0.4rem;
    margin: 0.2rem 0;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
        border-color: $feature-color;
        a {
            color: $feature-color;
        }
    }
    a {
        color: #fff;
        font-size: 1rem;
    }
}

.sidebar-tag-name-focus {
    border-color: $feature-color;
    a {
        color: $feature-color;
    }
}

.sidebar-tag-list {
    flex-grow: 1;
    padding-right: 1rem;
    overflow-y: auto;
}

.tag-post-item {
    @extend .archive-post-item;
}

.tag-post-title {
    @extend .archive-post-title;
}

.tag-post-date {
    @extend .archive-post-date;
}