#footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: $footer-background-color;
    box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1);
    .social {
        margin-top: 0.6rem;
        text-align: center;
        vertical-align: text-bottom;
        @include social($scaleSize: 0.8, $spanMargin: 0.5rem);
    }

    .copyright {
        font-family: $global-theme-font-family;
        margin: 0 auto 0.8rem auto;
        color: $footer-icon-default-color;
        text-align: center;
        a {
            color: $global-theme-color;
        }
        .heart {
            vertical-align: 10%;
            font-size: 0.7rem;
            padding: 0 0.2rem;
        }
    }
}