.header {
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: $header-height;
    border-top: $header-top-border-height solid #000;
    overflow: hidden;
    z-index: 999;
    transform: translate3d(0,0,0);
    transition: transform 0.2s ease-in-out .0s;
}

.header-slide{
    transform: translate3d(150px, 0, 0);
}

// banner
.banner {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: calc(100% - 1px);
    transform: translate3d(0, -100%, 0);
    pointer-events: none;
    border-bottom: 1px solid black;
}


.toggle-banner {
    margin: 0 auto;
    position: relative;
    transform: translate3d(0, -100%, 0);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.2s ease-out .0s;
}



.blog-titles {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .blog-title {
        vertical-align: top;
        white-space: nowrap;
        color: #000;
        font: 2rem/2rem $header-title-font;
    }
}

.post-banner {
    height: 100%;
    top: 100%;
    width: 100%;
    .post-name {
        display: inline-block;
        height: 100%;
        cursor: pointer;
        text-align: center;
        font: 1.4rem/#{$header-height} $header-title-font;
        color: #000;
    }
}

// header-sidebar-menu
.header-sidebar-menu {
    position: absolute;
    left: 1rem;
    top: 50%;
    border: 2px solid #fff;
    border-radius: 2px;
    width: $header-menu-width;
    height: $header-menu-width;
    transform: translate(0, -50%);
    font-family: 'iconfont-archer';
    line-height: 1.6rem;
    color: #fff;
    text-align: center;
    transition: all 0.2s ease-out;
    z-index: 999;
    cursor: pointer;
}

.header-sidebar-menu-black {
    border-color: #000;
    background-color: white;
    color: #000;
    &:hover {
        background-color: #000;
        color: #fff;
    }
}

// home page link
.home-link {
    position: absolute;
    right: 2.5rem;
    top: 50%;
    transform: translate(0, -50%);
    font-family: $global-theme-font-family;
    color: #fff;
    cursor: pointer;
    &:hover{
        color: $global-theme-color;
    }
}

.home-link-hide{
    display: none;
}

.toggle-banner.blog-titles-show {
    top: 0%;
}