.page-nav {
    text-align: center;
    .current,
    .prev,
    .next,
    .page-number {
        vertical-align: middle;
        font-family: $global-theme-font-family;
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        padding: .2rem .2rem;
        margin-right: 0.5rem;
        text-align: center;
        line-height: 1.5rem;
        transition: all 0.2s ease-out;
        &:not(.current):hover {
            background-color: #fff;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
        }
    }
    a {
        color: #777;
        &:hover {
            color: $global-theme-color;
        }
    }
    .next, .prev {
        line-height: 1.8rem;
        font-family: "iconfont-tinker";
    }
}