.page-nav {
    display: flex;
    justify-content: center;
    .current,
    .prev,
    .next,
    .page-number {
        border: 1px solid #ccc;
        vertical-align: middle;
        font-family: $global-theme-font-family;
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 0.5rem;
        text-align: center;
        line-height: 1.5rem;
    }

    .current {
        border-color: transparent;
    }

    a {
        color: #ccc;
        &:hover {
            background-color: #000;
            border-color: black;
            color: #fff;
        }
    }



    .extend{
        line-height: 1.8rem;
        font-family: "iconfont-arch";
        color: #999;
    }
}