.post {
    position: relative;
    padding-top: 1.5rem;
    &:last-of-type {
        padding-bottom: 1rem;
    }
    &:first-of-type {
        padding-top: 0;
    }
}

// content box
.post-content-box {
    position: relative;
    padding: 0rem 0rem 0.5rem 0rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    color: $post-content-color;
    background-color: $post-background-color;
    z-index: 3;
    .post-title {
        text-align: left;
        width: 100%;
        padding: 0 0 0.8rem 0;
        h2 {
            position: relative;
            font-size: 1.5rem;
            font-family: $global-font-family;
            margin: 0;
            a {
                white-space: nowrap;
            }
        }
    }
}

// post meta
.post-meta {
    position: relative;
    padding: 0.5rem 0 0 0;
    font-family: $global-theme-font-family;
    line-height: 1rem;
    color: #aaa;
    overflow: hidden;
    height: 1.5rem;
}

.post-date-share {
    float: left;
    text-align: center;
}

.post-share {
    position: relative;
    list-style-type: none;
    z-index: 88;
    display: inline-block;
    &::before {
        position: relative;
        cursor: pointer;
        content: "\e607";
        font-size: 1.2rem;
    }
}

.share-box {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    top: 1.5rem;
    right: -0.5rem;
    margin: 0;
    padding: 0.4rem 0.4rem;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.125);
    background-color: #fff;
    transform: scale(0.9);
    cursor: pointer;
    font-family: $global-theme-font-family;
    transition: all 0.15s ease-out;
    li {
        float: left;
        padding: 0.4rem 0.6rem;
        line-height: 2rem;
        white-space: nowrap;
        margin: 0;
        text-align: left;
        width: 100%;
        box-sizing: border-box;
    }
    li:hover {
        background-color: #ededed;
    }
}

.share-box-show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.post-date {
    transition: all 0.2s ease-out;
    margin-right: 0.2rem;
    display: inline-block;
    vertical-align: bottom;
    .post-calander::before {
        position: relative;
        top: -0.05rem;
        margin-right: 0.3rem;
        font-size: 1.1rem;
        content: "\e676";
    }
    .post-time {
        display: inline-block;
        vertical-align: bottom;
        font-size: 1rem;
    }
}

// tags in post
.post-tags {
    position: absolute;
    right: 0;
    text-align: right;
    .post-tag {
        font-size: 1.0rem;
        color: $global-theme-color;
        position: relative;
        margin-left: 0.3rem;
        overflow: visible;
        &::before {
            content: '#';
        }
        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            width: 0;
            height: 2px;
            background-color: $global-theme-color;
            transition: all 0.2s ease-out;
        }
        &:hover::after {
            width: 100%;
            left: 0%;
        }
    }
}

// content
.post-content {
    // padding-top: 0.3rem;
    font-size: 1rem;
    line-height: 1.5rem;
    h1 {
        // line-height: 4rem;
        // margin-top: 0.7rem;
        // margin-bottom: 0.7rem;
    }
    h2 {
        &:before {
            content: "# ";
        } // line-height: 3rem;
        // margin-top: 0.5rem;
        // margin-bottom: 0.5rem;
    }
    h3 {
        &:before {
            content: "# ";
        } // line-height: 2rem;
        // margin-top: 0.3rem;
        // margin-bottom: 0.3rem;
    }
    h4 {
        &:before {
            content: "# ";
        } // line-height: 1.2rem;
        // margin-top: 0.2rem;
        // margin-bottom: 0.2rem;
    }
    h5 {
        &:before {
            content: "# ";
        } // line-height: 1.1rem;
        // margin-top: 0.1rem;
        // margin-bottom: 0.1rem;
    }
    p {
        // line-height: 1.3rem;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }
    img {
        display: block;
        max-width: 100%;
        margin: 1rem auto 1rem;
    }
    blockquote {
        margin: 0.3rem 0 0.3rem 1rem;
        padding: 0.2rem 0 0.2rem 0.7rem;
        border-left: 3px solid $post-blockquote-color-border; // background-color: #eee;
    }
    a {
        color: $post-link-color;
    }
}