.profile {
    vertical-align: top;
    position: relative;
    margin: calc(#{$header-height} + #{$post-padding-top}) 0 0 0;
    background-color: #fff;
    width: $profile-width;
    min-height: 5rem;
    min-width: 5rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    padding: 2rem;
    img {
        display: block;
        border-radius: 3.5rem;
        margin: 0 auto;
        height: 7rem;
        width: 7rem;
        box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.20);
    }
    .site-name {
        font: 1.5rem $global-theme-font-family;
        text-align: center;
        padding: 0.2rem;
    }
    .blog-subtitle {
        font: 1rem $header-subtitle-font;
        text-align: center;
    }
    .profile-social {
        max-height: 95%;
        margin: 0 auto;
        text-align: center;
        line-height: 1.7rem;
        padding: 0.5rem 0;
        @include social($scaleSize: 0.5, $spanMargin: 0.4rem);
    }
    .friends {
        font: 1.1rem $global-theme-font-family;
        text-align: center;
        div {
            text-align: center;
            font-weight: bolder;
        }
        a {
            color: gray;
            margin-right: 0.2rem;
        }
    }
}