.profile {
    order: 0;
    vertical-align: top;
    flex-shrink: 0;
    position: relative;
    margin: 0 0 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: $profile-width;
    padding-bottom: 1rem;
    img {
        display: block;
        border-radius: 0.5rem;
        margin: 0 auto;
        width: 100%;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.20);
    }
}

.site-name {
    font: 1.5rem $global-theme-font-family;
    text-align: center;
    padding: 0.2rem;
}

.profile-signature {
    color: gray;
    font: 1rem $header-subtitle-font;
    text-align: left;
}

.profile-social {
    max-height: 95%;
    margin: 0 auto;
    text-align: left;
    line-height: 1.7rem;
    padding: 0.5rem 0;
    @include social($scaleSize: 0.5, $spanMargin: 0.4rem);
}

.friends {
    font: 1.1rem $global-theme-font-family;
    text-align: left;
    div {
        text-align: left;
        color: gray;
        font-weight: bolder;
    }
    a {
        color: gray;
        margin-right: 0.2rem;
    }
}