.qr-mask{
    display: none;
    opacity: 0.0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.1s ease-out .0s;
}

.QRcode-box{
    display: none;
    opacity: 0.0;
    position: fixed;
    z-index: 101;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12rem;
    height: 12rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    color: #555;
    background-color: #fcfcfc;
    transition: opacity 0.1s ease-out .0s;
    p{
        margin: 0;
        font-family: $base-font-family;
        padding: 0.7rem 0;
        text-align: center;
    }
    img{
        height: 8rem;
        width: 8rem;
        display: block;
        margin: 0 auto;
    }
    .QRcode-close{
        position: absolute;
        right: 1rem;
        top: 0.5rem;
        cursor: pointer;
    }
}


.QRcode-mask-show{
    display: block;
}

.QRcode-mask-opacity-show{
    opacity: 1.0;
}