.main.archive-page {
    margin-left: auto;
    margin-right: auto;
    .archive {
        @extend .index-posts;
        padding-top: $post-padding-top;
        .archive-year,
        .total-archive {
            font: 1.2rem $global-theme-font-family;
            color: $global-theme-color;
        }
        ul {
            margin-top: 0;
        }
        li {
            vertical-align: middle;
        }
        .post-date {
            vertical-align: top;
            font: 0.9rem/2rem $global-theme-font-family-light;
            margin-right: 0.3rem;
        }
        .post-title {
            vertical-align: top;
            font: 1.0rem/2rem $global-font-family;
            color: #030303;
        }
    }
}