@import "_partial/_post";
@import "_partial/_paginator";
@import "_partial/_timeline";


// index posts wrapper
 .index-posts {
    margin: 0 auto;
    max-width: 960px;
    width: 70%;
    padding-left: 10%;

    .post-title-link{
        color: $index-post-link-color;
    }

    .post-tag a{
        color: $index-post-tag-color;
    }
}

