$link-color: #940102;
$tag-color: #c4d9e9;
.post {
    &::before {
        height: 100%;
        position: absolute;
        left: -40px;
        top: 0;
        border-left: 2px solid gray;
        content: "";
        width: 1px;
    }
    .post-content-box {
        position: relative;
        padding: 30px 50px;
        background-color: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 0 2px #ddd;
    }
}

.posts {
    margin: 0 auto;
    max-width: 960px;
    &:first-child {
        margin-top: 0;
    }
    .post-tags {
        .post-tag a {
            color: $tag-color;
            text-decoration: none;
        }
    }
    .post-title {
        font-size: 1.5em;
        .post-title-link {
            color: $link-color;
            text-decoration: none;
        }
    }
    .post-content {
        a {
            color: $link-color;
            text-decoration: none;
        }
    }
    .post-meta {
        color: #BABABA;
    }
}