.timeline {
    position: absolute;
    top : 3em;
    left: -10%;
    transform: translateX(-50%);
    // background-color: #f3f6f7;
    
    .timeline-date {
        font-size: 0.5em;
        width: 6.5em;
        margin: 0 auto;
        text-align: center;
        color: #a1adb6;
        padding: 3px;
        background-color: #dee8ef;
        border-color: #bfdbe4;
        border-radius: 1em;
    }

    .timeline-logo {
        position: relative;
        margin: 0 auto;
        height: 3em;
        width: 3em;
        border-radius: 5em;
        background-color: #90a1ac;
        margin-bottom: 0.5em;

        img {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            fill: #FFFFFF;
            height: 60%;
            width: 60%;
        }
    }
}