<section class="posts">
  <% page.posts.forEach(function (post) { %>
        <% var isExcerpt; %>
        <% if (post.excerpt){ %>
        <% isExcerpt = true %>
        <% } else { %>
        <% isExcerpt = false %>
        <% } %>
        <%- partial('_partial/base-post', { _page :post, isExcerpt : isExcerpt, isTitleWithLink : true, hasPostTime: false, hasTimeline: true}) %>
    <% }) %>
</section>
<%- partial('_partial/base-paginator') %>