<main class="main index-page">
    <%- partial('_partial/base-qr-box') %>
    <% page.posts.each(function (_post) { %>
            <% let truncateLength = theme.truncate_length || 300; %>
            <% let _content = truncate(strip_html(_post.content), {length: truncateLength, omission: '...'}) %>
            <%- partial('_partial/base-post', 
            { _page : _post,
            _hasTitle: true,
            _content : _content, 
            _isTitleWithLink : true, 
            _hasMeta: true,
            _hasShare: false}) %>
        <% }) %>
    <%- partial('_partial/base-paginator') %>
</main>