<main class="main index-page">
    <section class="index-posts">
    <%- partial('_partial/base-qr-box') %>
    <% page.posts.each(function (_post) { %>
            <% var _content; %>
            <% if (_post.excerpt){ %>
            <% _content = _post.excerpt %>
            <% } else { %>
            <% _content = _post.content %>
            <% } %>
            <%- partial('_partial/base-post', 
            { _page : _post, 
            _content : _content, 
            _isTitleWithLink : true, 
            _hasPostTime: true}) %>
        <% }) %>
    </section>
    <%- partial('_partial/base-paginator') %>
</main>