<main class="main index-page">
    <section class="index-posts">
    <%- partial('_partial/base-qr-box') %>
    <% page.posts.each(function (_post) { %>
            <% var _content; %>
            <% _content = truncate(strip_html(_post.content), {length: 300, omission: '...'}) %>
            <%- partial('_partial/base-post', 
            { _page : _post,
            _hasTitle: true,
            _content : _content, 
            _isTitleWithLink : true, 
            _hasMeta: true}) %>
        <% }) %>
    </section>
    <%- partial('_partial/base-paginator') %>
</main>