<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body>
    <div class="container">
      <%- partial('_partial/header') %>
      <main class="main">
        <%- body %>
      </main>
    </div>
  </body>
</html>