<main class="main post-page">
<section class="posts">
<%- partial('_partial/base-post', 
{ _page : page, 
_content : page.content, 
_isTitleWithLink : false, 
_hasPostTime : false}) %>
</section>
</main>