<section class="tags">
<div class="post-content-box">
<% if (site.tags) { %>
  <div class="tags-tags">
    <% site.tags.forEach(function (tag) { %>
      <span class="post-tag"><a href= "<%- url_for(tag.path) %>"> <%- tag.slug %></a></span>
      <% }) %>
  </div>
  <% } %>
</div>
</section>