<main class="main tag-page">
  <section class="tags">
  <div class="post-content-box">
  <% if (site.tags) { %>
    <div class="tags-tags-box">
      <% site.tags.each(function (tag) { %>
        <span class="post-tag"><a href= "<%- url_for(tag.path) %>"> <%- tag.slug %></a></span>
        <% }) %>
      <!--<%- tagcloud(site.tags) %>-->
    </div>
    <% } %>
  </div>
  </section>
</main>