<% if (site.tags) { %>
  <div class="tag-tags">
    <% site.tags.forEach(function (tag) { %>
      <span class="post-tag"><a href="<%- url_for(tag.path) %>"><%- tag.slug %></a></span>
      <% }) %>
  </div>
  <% } %>