// ========== intro image ========== //
.site-intro-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: calc(100% + 1px);
    width: 100%;
    filter: brightness(.5);
    -webkit-filter: brightness(.5);
    -moz-filter: brightness(.5);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: transparent;
}

// ========== intro placeholder ========== //
// 在layout中 //
// ========== main intro meta ========== //
.site-intro-meta {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-title {
    font: 4rem $feature-font-family;
    color: #fff;
    margin: 0;
    opacity: 0;
    transition: all 0.5s ease-out 0s;
    transform: translate(0, -1rem);
}

.intro-subtitle {
    font: 2rem $feature-font-family;
    color: #fff;
    margin: 0;
    opacity: 0;
    transition: all 0.5s ease-out 0.5s;
    transform: translate(0, -1rem);
}

.intro-fade-in {
    opacity: 1;
    transform: translate(0, 0);
}
