html {
    font-size: global-font-size;
    height: 100%;
}

.container {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.main {
    display: inline-block;
    padding-top: $header-height;
    margin-left: 2rem;
    max-width: calc(100% - #{$profile-width} - 2rem - 8rem);
    padding-bottom: 12rem;
    text-align: initial;
}

.clearfix {
    margin: 0;
    height: 0;
    clear: right;
    height: 1px;
    width: 1px;
}

// .clearfix::after {
//     content: "";
//     display: block;
//     height: 0;
//     font-size: 0;
//     clear: both;
//     visibility: hidden;
// }
body {
    background-color: $global-background-color;
    font-family: $global-font-family;
    margin: 0;
    padding: 0;
    position: relative; // top: 0;
    min-height: 100%;
}

* {
    font-family: inherit;
}

a {
    text-decoration: none;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    // padding: 0;
    // margin: 0;
    // list-style-type: none;
}

h2 {
    // padding: 0;
    // height: 
}

ul {
    list-style-type: none;
}