// ========== hover ========== //
@mixin hover-line($height: 2px, $top: 104%, $color: $feature-color) {
    &::after {
        content: '';
        position: absolute;
        transition: all 0.2s ease-out;
        height: $height;
        width: 0;
        left: 50%;
        top: $top;
        background-color: $color;
    }
    &:hover::after {
        left: 0;
        width: 100%;
    }
}

// ========== social style ========== // 
@mixin social($scaleSize, $spanMargin) {
    .iconfont-archer {
        display: inline-block;
        text-align: center;
    }
    .iconfont-archer::before {
        display: inline-block;
        color: $social-iconfont-color;
        font-size: 3rem * $scaleSize;
        margin: 0 $spanMargin 0 0;
    }
    .iconfont-archer:last-of-type::before {
        margin: 0;
    }
    .email {
        position: relative;
        top: 3px;
        &::before {
            content: "\e642";
        }
        &:hover::before {
            color: #0cb49d;
        }
    }
    .github {
        &::before {
            content: "\e69f";
        }
        &:hover::before {
            color: #24292e;
        }
    }
    .linkedin {
        &::before {
            content: "\e695";
            font-size: 2.5rem * $scaleSize;
        }
        &:hover::before {
            color: #0077b5;
        }
    }
    .instagram {
        position: relative;
        top: 3px;
        &::before {
            content: "\e79d";
            font-size: 2.9rem * $scaleSize;
        }
        &:hover::before {
            color: #8042b6;
        }
    }
    .weibo {
        &::before {
            content: "\e619";
        }
        &:hover::before {
            color: #d52a2a;
        }
    }
    .facebook {
        &::before {
            position: relative;
            content: "\e67a";
        }
        &:hover::before {
            color: #3b5998;
        }
    }
    .twitter {
        &::before {
            content: "\e634";
        }
        &:hover::before {
            color: #1da1f2;
        }
    }
    .zhihu {
        position: relative;
        top: 3px;
        &::before {
            font-size: 2.7rem * $scaleSize;
            content: "\e61a";
        }
        &:hover::before {
            color: #0f88eb;
        }
    }
    .blog {
        &::before {
            font-size: 2.2rem * $scaleSize;
            content: "\e60c";
        }
        &:hover::before {
            color: #708090;
        }
    }
    .stack-overflow {
        &::before {
            font-size: 2.3rem * $scaleSize;
            content: "\e80b";
        }
        &:hover::before {
            color: #f37f23;
        }
    }
}