.profile {
    display: none;
}

.container {
    display: block;
    .main {
        width: 98%;
        padding-bottom: 5.5rem;
        margin: 0 auto;
        max-width: initial;
        section {
            .post-content-box {
                padding: 1rem 1rem 1rem 1rem;
            }
        }
    }
}

.post {
    padding-top: 0.8rem;
    &:last-child {
        padding-bottom: 0.8rem;
    }
}

.header {
    z-index: 100;
    .menu-button {
        display: block;
    }
    .banner {
        width: calc(100% - #{$header-profile-width});
        .site-post-banner {
            width: 100%;
            padding-right: 0;
            .blog-titles,
            .post-banner {
                transform: initial;
            }
        }
        .navbar {
            position: absolute;
            display: flex;
            justify-content: center;
            z-index: 100;
            top: 0;
            width: 100%;
            background-color: $header-background-color;
            transition: all 0.2s ease-out 0s;
            opacity: 0;
            pointer-events: none;
        }
        .navbar-hidden {
            opacity: 0;
            pointer-events: none;
        }
        .navbar-show {
            opacity: 1;
            pointer-events: initial;
        }
    }
}

.archive-page {
    width: 95% !important;
    .archive {
        padding-top: 0.8rem !important;
    }
}

.tag-page {
    width: 95% !important;
    .tags {
        padding-top: 0.8rem !important;
    }
}

#footer {
    .social {
        margin-top: 0.5rem;
        @include social($scaleSize: 0.5, $spanMargin: 0.2rem);
    }
    .copyright {
        margin: 0.5rem auto 0.5rem auto;
    }
}

.post-content-box {
    .share-box {
        left: initial !important;
        right: 0 !important;
    }
}