.profile {
    display: none;
}

.container {
    display: block;
    .main {
        width: 96%;
        padding-bottom: 5.5rem;
        margin: 0 auto;
        max-width: initial;
        section {
            .post-content-box {
                padding: 1rem 1rem 1rem 1rem;
            }
        }
    }
}

.post {
    padding-top: 0.8rem;
    &:last-child {
        padding-bottom: 0.8rem;
    }
}

.sidebar {
    .sidebar-header {
        .sidebar-category {
            font-size: 1.5rem;
        }
    }
    .sidebar-archive {
        .archive-year,
        .total-archive {
            font-size: 1.4rem;
        }
        .archive-post-item {
            padding: 0.2rem 0 0.2rem 0.5rem;
            .archive-post-date {
                font-size: 1.0rem;
            }
            .archive-post-title {
                font-size: 1.2rem;
            }
        }
    }
    .sidebar-tags {
        .sidebar-tags-name {
            .sidebar-tag-name {
                font-size: 1rem;
            }
        }
        .sidebar-tag-list {
            padding: 0.2rem 0 0.2rem 0.5rem;
            .archive-post-date {
                font-size: 1.0rem;
            }
            .archive-post-title {
                font-size: 1.2rem;
            }
        }
    }
}

.header {
    z-index: 100;
    .banner {
        .site-post-banner {
            width: 100%;
        }
    }
}

#footer {
    .social {
        margin-top: 0.5rem;
        @include social($scaleSize: 0.5, $spanMargin: 0.2rem);
    }
    .copyright {
        margin: 0.5rem auto 0.5rem auto;
    }
}

.post-content-box {
    .share-box {
        left: initial !important;
        right: 0 !important;
    }
}