// ======= global variables ======= //
$global-background-color: #fdfdfd;
// $global-theme-color: #19ad93;
$global-theme-color: #f75357;
$global-font-size: 16px !default;
$global-theme-font-family: 'Oswald-Regular';
$global-theme-font-family-light: 'Oswald-Regular-Light';
$global-font-family: Microsoft Yahei,
Athelas,
STHeiti,
serif !default;

@font-face {
    font-family: 'Oswald-Regular';
    src: url('/font/Oswald-Regular.ttf');
}

@font-face {
    font-family: 'Oswald-Regular-Light';
    src: url('/font/Oswald-Light.ttf');
}

// ======= iconfont ======= //
@font-face {
    font-family: 'iconfont-tinker';
    /* project id 327081 */
  src: url('//at.alicdn.com/t/font_6mnprma5gxf20529.eot');
  src: url('//at.alicdn.com/t/font_6mnprma5gxf20529.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_6mnprma5gxf20529.woff') format('woff'),
  url('//at.alicdn.com/t/font_6mnprma5gxf20529.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_6mnprma5gxf20529.svg#iconfont') format('svg');
}

.iconfont-tinker {
    font-family: "iconfont-tinker" !important;
    font-size: 1rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

// ======= header ======= //
$header-height: 4.5rem;
$header-avatar-size :2.7rem;
$header-top-border: #fcfcfc;
$header-background-color: #24292e;
$header-title-color: #dedede;
$header-title-font: $global-theme-font-family ;
$header-subtitle-font: $global-theme-font-family ;
$header-nav-font: $global-theme-font-family ;
$header-nav-color: #dedede;
$header-profile-width: 3rem;
// ======== profile ======= //
$profile-width: 10rem;
// ======= post ======= //
$post-padding-top: 2.5rem;
$post-meta-color: $global-theme-color;
$post-link-color: $global-theme-color;
$post-background-color: #ffffff;
$post-content-color: #344a5e;
$post-blockquote-color-border: lightgray;
$post-time-color: #bbb;
// ======= index ======= //
$index-post-link-color: $global-theme-color;
$index-post-tag-color: $global-theme-color;
// ======= footer ======= //
$footer-background-color: #fff;
$footer-icon-default-color: gray;
// ======= code ======= //
// Color of code highlight, solarized.
$code-highlight-color: ( comment: #93a1a1,
keyword: #859900,
number: #2aa198,
name: #268bd2,
attribute: #b58900,
symbol: #cb4b16,
built_in: #dc322f) !default;
// Code type list.
$code-type-list: ( html: "HTML",
js: "JavaScript",
bash: "Bash",
css: "CSS",
scss: "Scss",
java: "Java",
xml: "XML",
python: "Python",
json: "JSON",
swift: "Swift",
ruby: "Ruby",
php: "PHP",
c: "C",
cpp: "C++",
scheme: "Scheme",
objectivec: "Objective-C",
yml: "YAML",
stylus: "Stylus",
sql: "SQL",
http: "HTTP",
go: "Go") !default;