body {
  background-color: $body-background-color-dark;
}

.container {
  background-color: $body-background-color-dark;
}

::selection {
  background: $selection-background-color-dark;
  color: $selection-text-color-dark;
}

.note-warning {
  background-color: #222;
}
