<%_ if(theme.comment && theme.comment.waline_serverURL) { _%>
    <script src='//unpkg.com/@waline/client@v2/dist/waline.js'></script>
    <link href='//unpkg.com/@waline/client@v2/dist/waline.css' rel='stylesheet' />
    <div id="comment"></div>
    <script>
    Waline.init({
        el: '#comment' ,
        serverURL: "<%- theme.comment.waline_serverURL %>",
        locale: {
            placeholder: "<%- theme.comment.waline_placeHolder %>"
        },
        login: "<%- theme.comment.waline_login %>"
    });
    </script>
<%_ } _%>
