<% if(is_home()) { %>
<footer class="footer-fixed index-footer-fixed">
<% } else { %>
<footer class="footer-fixed">
<% } %>
    <!-- back to top button -->
    <div class="footer-fixed-element">
        <% if(theme.float_button_theme === 'rounded') { %>
        <div class="back-top back-top-rounded">
        <% } else { %>
        <div class="back-top">
        <% } %>
            <i class="fas fa-chevron-up"></i>
        </div>
    </div>
</footer>