<% if (currPost.tags && currPost.tags.length) { %>
<div class="post-tags">
    <% currPost.tags.forEach(function (tag, i) { %>
        <span class="post-tag"><a href="<%- url_for(tag.path) %>">#<%- tag.name %></a></span>
        <% }) %>
</div>
<% } %>