<div class="sidebar sidebar-hide">
    <div class="sidebar-header">
        <div class="sidebar-category">
            <span class="sidebar-archive-link"><span class="iconfont-arch">&#xe67d;</span>Archives</span>
            <span class="sidebar-tags-link"><span class="iconfont-arch">&#xe610;</span>Tags</span>
        </div>
        <div class="sidebar-close">&#xe779;</div>
    </div>
    <div class="sidebar-content sidebar-content-show-archive">
        <%- partial('./sidebar/sidebar-archive') %>
        <%- partial('./sidebar/sidebar-tags') %>
    </div>
</div> 