<footer class="footer-fixed<%- is_home() ? ' index-footer-fixed' : '' %>">
    <!-- back to top button -->
    <div class="footer-fixed-element">
        <% if(theme.float_button_theme === 'rounded') { %>
            <div class="back-top back-top-hidden back-top-rounded">
        <% } else { %>
            <div class="back-top back-top-hidden">
        <% } %>
        <% if(theme.float_button_theme === 'rounded') { %>
            <i class="fas fa-chevron-up"></i>
        <% } else { %>
            <div>&#xe639;</div>
        <% } %>
        </div>
    </div>
</footer>
