<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <title><%= config.title %></title>
  <%- css('css/Scss/style.css') %>
  <% if (is_post()) { %>
  <script src="/script/toggle-header.js" defer></script>
  <% } %>
  <% if (is_home()) { %>
  <script src="/script/toggle-avatar.js" defer></script>
  <% } %>
</head>