<div class="blog-timeline">
    <div class="timeline-logo">
        <% let logoName; %>
        <% if (_page.logo) { %>
        <% logoName = _page.logo %>
        <% } else { %>
        <% logoName = theme.updateLogo %>
        <% } %>
        <% let path; %>
        <% if (is_post()) { %>
        <% path = "/" + logoName %>
        <% } else { %>
        <% path = "/" + logoName%>
        <% } %>
        <img src= <%- url_for(path) %> >
    </div>
    <div class="timeline-date">
        <span><%- date(_page.date, "YYYY-MM-DD") %></span>
    </div>
</div>