<div class= <%- className %> >
    <% currPost.tags.forEach(function (tag, i) { %>
        <a class="post-tag" href="javascript:void(0);" data-tags = "<%- tag.name %>"><%- tag.name %></a>
    <% }) %>
</div>