<% if(is_home()) { %>
<header class="header index-header">
<% } else { %>
<header class="header">
<% } %>
  <div class="header-sidebar-menu">
    <div class="menu-box">&#xe775;</div>
  </div>
  <div class="banner">
    <div class="site-post-banner">
      <div class="blog-titles">
        <% if (is_home()) { %>
        <img class="header-avatar" src= <%- theme.avatar %> >
        <% } %>
        <a href="<%- url_for() %>" class="blog-title">
          <%= config.title %>
        </a>
      </div>
      <% if (is_post()) { %>
      <div class="post-banner">
        <span class="post-name">
          <%- page.title %>
        </span>
      </div>
      <% } %>
    </div>
  </div>

</header>