<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >
  <title><%= config.title %></title>
  <link rel="icon" href=<%- theme.favicon %>>
  <%- css('css/style.css') %>
  <script type="text/javascript" src="//cdn.staticfile.org/jquery/3.2.1/jquery.min.js" defer></script> 
  <script src="/scripts/main.js" defer></script>
</head>