<div class="sidebar sidebar-hide~">
    <div class="sidebar-header">
        <div class="sidebar-category">
            <span class="sidebar-archive-link">Archives</span>
            <span class="sidebar-tags-link">Tags</span>
        </div>
        <div class="sidebar-close">&#xe646;</div>
    </div>
    <div class="sidebar-content sidebar-content-show-archive">
        <div class="archive-content">
            <%- partial('./sidebar/sidebar-archive') %>
        </div>
        <div class="tags-content"></div>
    </div>
</div> 