<div class="sidebar">
    <div class="sidebar-header">
        <div class="sidebar-category">
            <span class="sidebar-archive-link"><span class="iconfont-archer">&#xe67d;</span>archives</span>
            <span class="sidebar-tags-link"><span class="iconfont-archer">&#xe610;</span>Tags</span>
        </div>
    </div>
    <div class="sidebar-content sidebar-content-show-archive">
        <%- partial('./sidebar/sidebar-archive') %>
        <%- partial('./sidebar/sidebar-tags') %>
    </div>
</div> 