<footer class="footer-fixed<%- is_home() ? ' index-footer-fixed' : '' %>">
    <!-- back to top button -->
    <div class="footer-fixed-element">
        <%_ if(theme.float_button_theme === 'rounded') { _%>
            <div class="back-top back-top-hidden back-top-rounded">
        <%_ } else { _%>
            <div class="back-top back-top-hidden">
        <%_ } _%>
        <%_ if(theme.float_button_theme === 'rounded') { _%>
            <i class="fas fa-chevron-up"></i>
        <%_ } else { _%>
            <div>&#xe639;</div>
        <%_ } _%>
        </div>
    </div>
</footer>
