// ======= global variables ======= //
$global-background-color: #fdfdfd;
$global-theme-color: #19ad93;
$global-font-size: 16px !default;
$global-font-family: 'Source Sans Pro',
'Helvetica Neue',
Arial,
sans-serif !default;
$global-serif-font-family: Microsoft Yahei,
Athelas,
STHeiti,
serif !default;
@font-face {
    font-family: 'Oswald-Regular';
    src: url('/font/Oswald-Regular.ttf');
}

// ======= header ======= //
$header-top-border: #333;
$header-background-color: #fff;
$header-title-color: #333;
$header-title-font: 'Oswald-Regular';
$header-subtitle-font: 'Oswald-Regular';
// ======= post ======= //
$post-meta-color: $global-theme-color;
$post-link-color: $global-theme-color;
$post-background-color: #ffffff;
$post-content-color: #344a5e;
$post-blockquote-color-border: lightgray;
// ======= index ======= //
$index-post-link-color: $global-theme-color;
$index-post-tag-color: $global-theme-color;
// ======= footer ======= //
$footer-background-color: #fff;
$footer-icon-default-color: gray;
// ======= code ======= //
// Color of code highlight, solarized.
$code-highlight-color : ( comment: #93a1a1,
keyword: #859900,
number: #2aa198,
name: #268bd2,
attribute: #b58900,
symbol: #cb4b16,
built_in: #dc322f) !default;
// Code type list.
$code-type-list: ( html: "HTML",
js: "JavaScript",
bash: "Bash",
css: "CSS",
scss: "Scss",
java: "Java",
xml: "XML",
python: "Python",
json: "JSON",
swift: "Swift",
ruby: "Ruby",
php: "PHP",
c: "C",
cpp: "C++",
scheme: "Scheme",
objectivec: "Objective-C",
yml: "YAML",
stylus: "Stylus",
sql: "SQL",
http: "HTTP",
go: "Go") !default;