*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #f3f6f7;
    font-size: 1.25rem;
    line-height: 1.5;
}

.container {
    // max-width: 960px;
    margin: 0 auto;
}

@import "_partial/header";
@import "_partial/post";
@import "_partial/archive";
@import "_partial/paginator";
@import "_partial/_timeline";
@import "_partial/_tag";
@import "tag";
@import "post";