#footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 1px 0 1px;
    background-color: $footer-background-color;
    box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.125);
    .social {
        margin-top: 1.5rem;
        text-align: center;
        vertical-align: text-bottom;
        @include social($scaleSize: 1, $spanMargin: 0.5rem);
    }
}