.header {
    position: relative; // overflow: hidden;
    width: 100%;
    height: 5rem;
    background-color: $header-background-color;
    border-top: 3px solid $header-top-border;
    border-bottom: 1px solid #eee;
    #profile {
        display: none;
        display: none;
        width: 1.5rem;
        height: 1.5em;
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translateY(-50%);
        padding: 3px;
        img {
            width: 1.5em;
            height: 1.5em;
        }
    }
    .blog-titles {
        position: relative;
        float: left;
        width: 20%;
        margin-left: 25%; // margin-top: 10%;
        height: 100%; // top: 50%;
        // transform: translateY(-50%);
        .blog-title {
            display: block; // margin-top: 5%;
            padding-top: 0.6rem;
            font: 1.4rem $header-title-font;
            color: $header-title-color;
        }
        .blog-subtitle {
            display: block;
            font: 1rem $header-subtitle-font;
            color: $header-title-color;
        }
    }
    .navbar {
        float: left;
        height: 100%;
        width: 40%;
        margin-left: 5%;
        position: relative;
        ul.menu {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            overflow: hidden;
            li {
                float: left;
                margin: 0 auto;
                height: 60px;
                vertical-align: center;
                vertical-align: top;
                // text-align: center;
                padding-right: 1rem;
                &:last-child {
                    padding-right: 0;
                }
                img {
                    // position: absolute;
                    // display: inline-block;
                    // position: absolute;
                    // line-height: 60px;
                    // top: 50%;
                    // transform: translateY(-50%);
                    // line-height: 60px;
                    width: 1.2rem;
                    height: 100%;
                // vertical-align: top;
                }
                a {
                    vertical-align: top;
                    display: inline-block;
                    // height: 100%;
                    margin-right: 0.5rem;
                    // background-color: yellow;
                    line-height: 60px;
                    color: $header-title-color;
                }
            }
        }
    }
}