.post {
    position: relative;
    padding-top: $post-padding-top;
    &:last-child {
        padding-bottom: $post-padding-top;
    }
}

.post-content-box {
    position: relative;
    padding: 1.5rem 4rem 3rem 4rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    color: $post-content-color;
    background-color: $post-background-color;
    z-index: 3;
    .post-title {
        margin: 0.5rem 0;
        font-size: 1.5em;
        text-align: center;
        overflow: hidden;
        h2 {
            float: left;
            position: relative;
            font-family: 'PingFang SC', STZhongsong, Helvetica, Arial, '宋体', sans-serif;
            margin: 0.6rem 0 0.6rem;
            a {
                margin-left: 1rem;
                padding: 0.2rem 1rem 0.5rem 1rem;
                display: inline-block; // TODO: mixin
            }
            a:hover::before {
                content: '#';
                position: absolute;
                left: 0rem;
            }
        }
        .post-meta {
            float: right;
            margin: 1rem 0 0 0;
            color: $post-meta-color;
            vertical-align: middle;
            font-family: $global-theme-font-family;
            line-height: 1rem;
            color: $post-time-color;
            .post-date {
                transition: all 0.2s ease-out;
                .post-calander::before {
                    content: "\e676";
                    margin-right: 0.2rem;
                }
                .post-time {
                    display: inline-block;
                    padding-top: 5px;
                    font-size: 0.8rem;
                    transform: translateY(0.1rem);
                }
            }
            .post-tags {
                text-align: right;
                margin-top: 0.1rem;
                font-size: 0.8rem;
                .post-tag {
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        width: 0;
                        height: 2px;
                        background-color: $global-theme-color;
                        transition: all 0.2s ease-out;
                    }
                    &:hover::before {
                        width: 100%;
                        left: 0%;
                    }
                }
            }
        }
    }
}

.post-content {
    padding-top: 1rem;
    font-size: 0.85em;
    h1 {
        // line-height: 4rem;
        // margin-top: 0.7rem;
        // margin-bottom: 0.7rem;
    }
    h2 {
        &:before {
            content: "# ";
        } // line-height: 3rem;
        // margin-top: 0.5rem;
        // margin-bottom: 0.5rem;
    }
    h3 {
        &:before {
            content: "# ";
        } // line-height: 2rem;
        // margin-top: 0.3rem;
        // margin-bottom: 0.3rem;
    }
    h4 {
        &:before {
            content: "# ";
        } // line-height: 1.2rem;
        // margin-top: 0.2rem;
        // margin-bottom: 0.2rem;
    }
    h5 {
        &:before {
            content: "# ";
        } // line-height: 1.1rem;
        // margin-top: 0.1rem;
        // margin-bottom: 0.1rem;
    }
    p {
        // line-height: 1.3rem;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }
    blockquote {
        margin: 0.3rem 0 0.3rem 1rem;
        padding: 0.2rem 0 0.2rem 0.7rem;
        border-left: 3px solid $post-blockquote-color-border; // background-color: #eee;
    }
    a {
        color: $post-link-color;
    }
}