<div class="sidebar-panel-categories">
    <div class="sidebar-categories-name">
    <%_ site.categories.each(function (category) { _%>
        <span class="sidebar-category-name" data-categories="<%- category.name %>">
            <span class="iconfont-archer">&#xe60a;</span>
            <%- category.name %>
        </span>
    <%_ }) _%>
    </div>
    <div class="iconfont-archer sidebar-categories-empty">&#xe678;</div>
    <div class="sidebar-categories-list"></div>
</div>
