<div class="sidebar-tags">
    <div class="sidebar-tags-name">
    <% site.tags.each(function (tag) { %>
        <span class="sidebar-tag-name"><a href= "#"><%- tag.name %></a></span>
    <% }) %>
    </div>
    <div class="sidebar-tag-list"></div>
</div>