<div class="sidebar-panel-tags">
    <div class="sidebar-tags-name">
        <%_ site.tags.each(function (tag) { _%>
            <span class="sidebar-tag-name" data-tags="<%- tag.name %>">
                <span class="iconfont-archer">&#xe606;</span>
                <%- tag.name %>
            </span>
        <%_ }) _%>
    </div>
    <div class="iconfont-archer sidebar-tags-empty">&#xe678;</div>
    <div class="tag-load-fail" style="display: none; color: #ccc; font-size: 0.6rem;">
        缺失模块，请参考主题文档进行安装配置：https://github.com/fi3ework/hexo-theme-archer#%E5%AE%89%E8%A3%85%E4%B8%BB%E9%A2%98
    </div> 
    <div class="sidebar-tags-list"></div>
</div>
