// ========== hover ========== //
@mixin hover-line($height: 2px, $width: 98%, $color: $feature-color) {
    &::after {
        content: '';
        position: absolute;
        left: calc((100% - #{$width}) / 2);
        right: 0;
        bottom: -15%;
        transition: all 0.15s ease-in;
        width: $width;
        height: $height;
        transform: translate(0, 0px);
        background-color: $color;
        opacity: 0;
    }
    &:hover::after {
        transform: translate(0, -2px);
        opacity: 1;
    }
}

// ========== social style ========== // 
@mixin social($scaleSize, $spanMargin) {
    * {
        position: relative;
    }
    .iconfont-archer {
        display: inline-block;
        text-align: center;
    }
    .iconfont-archer::before {
        display: inline-block;
        color: $social-iconfont-color;
        font-size: 3rem * $scaleSize;
        margin: 0 $spanMargin 0 0;
    }
    .iconfont-archer:last-of-type::before {
        margin: 0;
    }
    .email {
        top: 0.2rem;
        &::before {
            content: "\e642";
        }
        &:hover::before {
            color: #0cb49d;
        }
    }
    .github {
        &::before {
            font-size: 3.2rem * $scaleSize;
            content: "\e69f";
        }
        &:hover::before {
            color: #24292e;
        }
    }
    .weibo {
        &::before {
            font-size: 3.2rem * $scaleSize;
            content: "\e619";
        }
        &:hover::before {
            color: #d52a2a;
        }
    }
    .zhihu {
        top: 2px * $scaleSize;
        &::before {
            font-size: 2.8rem * $scaleSize;
            content: "\e61a";
        }
        &:hover::before {
            color: #0f88eb;
        }
    }
    .facebook {
        top: 4px * $scaleSize;
        &::before {
            font-size: 3rem * $scaleSize;
            content: "\e67a";
        }
        &:hover::before {
            color: #3b5998;
        }
    }
    .twitter {
        // top: px * $scaleSize;
        &::before {
            content: "\e634";
        }
        &:hover::before {
            color: #1da1f2;
        }
    }
    .instagram {
        top: 2px * $scaleSize;
        &::before {
            content: "\e79d";
            font-size: 2.8rem * $scaleSize;
        }
        &:hover::before {
            color: #8042b6;
        }
    }
    .stack-overflow {
        &::before {
            font-size: 2.3rem * $scaleSize;
            content: "\e80b";
        }
        &:hover::before {
            color: #f37f23;
        }
    }
    .linkedin {
        &::before {
            font-size: 2.6rem * $scaleSize;
            content: "\e695";
        }
        &:hover::before {
            color: #0077b5;
        }
    }
    .others {
        &::before {
            font-size: 2.2rem * $scaleSize;
            content: "\e64a";
        }
        &:hover::before {
            color: #8090b0;
        }
    }
    .rss {
        &::before {
            font-size: 2.1rem * $scaleSize;
            content: "\e652";
        }
        &:hover::before {
            color: #e53935;
        }
    }
}
