// ========== main ========== //
.index-post {
    display: block;
    position: relative;
    padding: 1.5rem 0rem 0.5rem 0rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 3;
    &:first-of-type {
        padding-top: 0;
    }
}

// ========== abstract content ========== //
.abstract-content {
    color: #aaa;
    font: 1rem/1.5rem $base-font-family;
    white-space: normal;
    word-break: break-all;
    transition: color 0.1s ease-out;
    &:hover {
        color: #888;
    }
}

// ========== abstract title ========== //
.abstract-title {
    position: relative;
    font: bolder 1rem/1.5rem $base-font-family;
    color: $index-post-link-color;
    padding-bottom: 0.5rem;
    margin: 0.2rem 0;
    span:last-of-type {
        font-size: 1.5rem;
        position: relative;
        @include hover-line($height: 2px);
    }
}

.stick-top {
    font-size: 1.3rem;
    margin-right: 0.2rem;
}

// ========== abstract meta ========== //
.abstract-post-meta {
    position: relative;
    padding: 0.5rem 0 0 0;
    font-family: $feature-font-family;
    line-height: 1rem;
    color: #aaa;
    overflow: hidden;
    height: 1.5rem;
}

// tags
.abstract-tags {
    position: absolute;
    right: 0;
    text-align: right;
    .post-tag {
        font-size: 1rem;
        position: relative;
        overflow: visible;
        color: $index-post-tag-color;
        margin-left: 0.4rem;
        &::before {
            position: relative;
            left: -2px;
            content: '#';
        }
        @include hover-line();
    }
}

// date
.abstract-date {
    float: left;
    vertical-align: bottom;
    text-align: center;
    margin-right: 0.2rem;
    transition: all 0.2s ease-out;
}

.abstract-calander::before {
    position: relative;
    top: -0.05rem;
    margin-right: 0.3rem;
    font-size: 1.1rem;
    content: "\e676";
}

.abstract-time {
    display: inline-block;
    vertical-align: bottom;
    font-size: 1rem;
}