// ========== main ========== //
.post-body {
    main {
        margin: 0;
    }
}

// ========== intro ========== //
.post-body {
    .site-intro-meta {
        width: 50%;
        min-width: 42.8125rem;
        margin: 0 auto;
        align-items: flex-start;
    }
    .intro-title {
        font: 4rem/5.3rem $feature-font-family;
        color: #fff;
        margin: 0;
    }
}

.post-intro-tags {
    font: 1.2rem $feature-font-family;
    .post-tag {
        position: relative;
        margin-left: 0;
        margin-right: 0.5rem;
        font-size: 1.2rem;
        color: #fff;
        @include hover-line($color: #fff, $top:100%);
        &::before {
            content: '#';
        }
    }
}

.post-intro-meta {
    margin-top: 0.2rem;
    font: 1.1rem $feature-font-family;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
}

.post-intro-calander {
    font-size: 1rem;
    margin-right: 0.3rem;
}

// ========== pager ========== //
.post-pager {
    overflow: hidden;
    padding: 0;
    list-style: none;
    margin: 2.5rem 0 1rem 0;
    li {
        padding: 0.2rem 0.5rem 0.5rem 0.5rem;
        border-color: gray;
        width: 13rem;
        border: 1px solid #ddd;
    }
    li:hover {
        border-color: #252525;
        background-color: #252525;
        span:last-of-type {
            color: $feature-color;
        }
        span:first-of-type {
            color: #fff;
        }
    }
    span {
        display: block;
        color: #ddd;
        text-align: center;
    }
    span:first-of-type {
        font: bold 1.4rem $feature-font-family;
        color: #252525;
    }
    .previous {
        float: right;
    }
    .next {
        float: left;
    }
}

// ========== content ========== //
.article-entry {
    position: relative;
    padding: 1px 0;
    font: 1rem/1.625 $base-font-family;
    color: $post-content-color;
    ul,
    ul li {
        list-style-type: initial;
    }
    ol,
    ol li {
        list-style-type: decimal-leading-zero;
    }
    @for $i from 1 through 6 {
        h#{$i} {
            font-weight: 900;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    @for $i from 2 through 4 {
        h#{$i} {
            &::before {
                content: "#";
                margin-right: 2px;
                color: $feature-color;
                font: 1em $base-font-family;
                font-weight: bold;
            }
        }
    }
    h1 {}
    h2 {}
    h3 {}
    h4 {}
    h5 {
        font-size: 1rem;
        margin: 1rem 0;
    }
    h6 {
        font-size: 0.8rem;
        margin: 1rem 0;
    }
    p {}
    em {
        font-style: italic;
    }
    img {
        display: block;
        max-width: 100%;
        margin: 1rem auto 1rem;
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    }
    blockquote {
        margin: 2em 0 2rem 1rem;
        padding: 10px 20px;
        position: relative;
        background-color: #f6f6f6;
        border-left: 3px solid $feature-color;
        p {
            margin: 0;
        }
    }
    >table {
        width: 100%;
        border: 1px solid #ddd;
        margin: 1rem 0;
        border-collapse: collapse;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.125);
        tr,
        td {
            height: 2rem;
        }
        thead {
            tr {
                background: #f8f8f8;
            }
        }
        tbody {
            tr:hover {
                background: #efefef;
            }
        }
        td,
        th {
            border: 1px solid #dedede;
            padding: 0.2rem 1rem 0 1rem;
        }
    }
    a {
        color: $feature-color;
        padding: 0 0 0 2px;
        word-break: break-all;
        &:hover {
            border-bottom: 1px solid $feature-color;
        }
        &.fancybox {
            border: 0;
        }
    }
}

// ========== toc ========== //
.toc-wrapper {
    position: absolute;
    top: 50vh;
    width: 22%;
    right: 1%;
    max-width: calc(100% - 42.8125rem - 2rem);
    z-index: 9999;
    margin: calc(#{$header-height} + 1rem) 0 0 0;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s ease-out .0s;
}

.toc-catalog {
    color: #bbb;
    cursor: pointer;
    font: bolder 1.2rem $feature-font-family;
    &:hover {
        color: $feature-color;
    }
}

.toc {
    padding-left: 0;
    margin: 0 0 0 0;
    ol {
        padding-left: 1rem;
    }
    .toc-number {
        font-weight: bold;
    }
    a {
        color: #ddd;
    }
    a:hover {
        color: $feature-color !important;
    }
}

.toc-fixed {
    position: fixed;
    top: 0rem;
}

.toc-slide {
    transform: translate3d(150px, 0, 0);
}

.toc-hide {
    display: none;
}