.index-page {
    .post-title-link {
        font-size: 2rem;
        color: $index-post-link-color;
    }
    .post-tag a {
        color: $index-post-tag-color;
    }
}

.home-body {
    .banner {
        display: none;
        margin: 0 0 0 4rem;
    }
    .toggle-banner {
        margin: 0;
    }
    .blog-titles {
        justify-content: flex-start;
    }
    .header-sidebar-menu {
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
}