 .index-posts {
    margin : 0;
    max-width: 960px;
    width: 100%;

    .post-title-link{
        color: $index-post-link-color;
    }

    .post-tag a{
        color: $index-post-tag-color;
    }
}