.home-body {
    .post-title {
        font-size: 1.6rem;
        color: $index-post-link-color;
    }
    .title {
        span {
            padding-bottom: 2px;
            &:hover {
                // color: black;
                border-bottom: 2px solid $index-post-link-color;
            }
        }
    }
    .post-tag a {
        color: $index-post-tag-color;
    }
    .banner {
        display: none;
        margin: 0 0 0 4rem;
    }
    .toggle-banner {
        margin: 0;
    }
    .blog-titles {
        justify-content: flex-start;
    }
    .post-content {
        font-style: italic;
        color: #aaa;
        &:hover {
            text-decoration: underline;
        }
    }
    .header-sidebar-menu {
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
}