.post-body {
    main {
        margin: 0;
    }
    .site-background-meta {
        width: 50%;
        margin: 0 auto;
        align-items: flex-start;
        color: #fff;
        font-family: $global-theme-font-family;
    }
    .bg-title {
        font: 4rem $global-theme-font-family;
        color: #fff;
        margin: 0;
        line-height: 4.5rem; // white-space: nowrap;
    }
    .bg-post-date {
        margin-top: 0.2rem;
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: center;
    }
    .bg-post-calander {
        margin-right: 0.1rem;
        transform: translate(0, -5%);
    }
    .bg-post-tags {
        .post-tag {
            margin-right: 0.2rem;
            color: #fff;
            &::before {
                content: '#';
            }
        }
    }
    .banner {
        background-color: rgba(255, 255, 255, 0.8);
        transition: transform 0.3s ease-out .0s;
        overflow: hidden;
    }
    .banner-show {
        transform: translate3d(0, 0, 0);
        pointer-events: initial;
    }
    .toggle-banner-show-site {
        transform: translate3d(0, 0, 0);
    }
    .post {
        border-bottom: none;
    }
    .toggle-banner {
        margin: 0;
        .blog-titles {
            justify-content: center;
        }
    } // toc
}

.post-pager{
    overflow: hidden;
    li{
        padding: 0.2rem 0.5rem 0.5rem 0.5rem;
        border-color: gray;
        width: 13rem;
        border: 1px solid #ccc;
    }

    li:hover{
        background-color: $global-theme-color;
        border: 1px solid $global-theme-color;
        span{
            color: #fff;
        }

        span:first-of-type{
            color: #000;
        }
    }

    span{
        display: block;
        color: #ccc;
        text-align: center;
    }

    span:first-of-type{
        font: bold 1.4rem $global-theme-font-family;
        color: #000;
    }
    .previous{
        float: left;
    }
    .next{
        float: right;
    }
}



.toc {
    position: absolute;
    top: 600px;
    right: 50px;
    z-index: 9999;
    ol {
        padding-left: 1rem;
    }
    a {
        color: gray;
    }
    a:hover {
        color: darkcyan;
    }
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease-in-out .0s;
}

.toc-fixed {
    top: initial;
    position: fixed;
    bottom: 380px;
}

.toc-slide {
    transform: translate3d(150px, 0, 0);
}