.main.tag-page {
    margin-left: auto;
    margin-right: auto;
    .tags {
    @extend .index-posts;
        padding-top: $post-padding-top;
        a {
            text-decoration: none;
            font-family: $global-theme-font-family;
            color: $global-theme-color;
        }
    }
}