// ========== general style ========== //
@media (prefers-color-scheme: dark) {
  // common
  body {
    background-color: $body-background-color-dark;
  }

  .wrapper {
    box-shadow: -3px 0 2px 0 $text-color-secondary-dark;
  }

  .container {
    background-color: $body-background-color-dark;
  }

  ::selection {
    background: $selection-background-color-dark;
    color: $selection-text-color-dark;
  }

  .note-warning {
    background-color: #222;
  }

  // fixed footer
  .back-top {
    border-color: $text-color-primary-dark;
    background-color: rgba(18, 18, 18, 0.8);
    color: $text-color-primary-dark;
    &:hover {
      background-color: $text-color-primary-dark;
      color: $body-background-color-dark;
    }
  }

  .back-top-rounded {
    color: $body-background-color;
    background-color: $body-background-color-dark;
    &:hover {
      color: #333;
    }
  }

  // index page
  .index-post {
    background-color: $foreground-color-dark;
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
  }

  .index-post {
    .abstract-content {
      color: $abstract-content-text-color-dark;
    }
  }

  .abstract-title span:last-of-type {
    color: $abstract-content-title-color-dark;
    &:hover {
      color: $feature-color-dark;
    }
  }

  .abstract-post-meta {
    color: $abstract-post-meta-color-dark;

    .post-tag {
      color: $abstract-post-tag-color-dark;
      @include hover-line($color: $abstract-post-tag-color-dark);
    }

    .abstract-calander {
      color: $abstract-calander-color-dark;
    }
  }

  // post page
  .anchorjs-archer {
    color: $feature-color-dark;
  }

  .article-entry {
    background-color: $foreground-color-dark;
    padding: 1rem 2rem;
  }

  .abstract-content,
  .article-entry {
    color: $post-content-color-dark;
    blockquote {
      background-color: #464646;
      border-left-color: $feature-color-dark;
    }
    a {
      color: $feature-color-dark;
      &:hover {
        border-bottom-color: $feature-color-dark;
      }
    }
  }

  .license-wrapper {
    background-color: $foreground-color-dark;
    padding: 1.5rem 2rem;
  }

  .license-wrapper {
    color: $post-content-color-dark;
    a {
      color: $feature-color-dark;
    }
  }

  .toc-wrapper {
    .toc-active {
      color: $feature-color-dark;
    }
    a {
      color: #777;
    }
    a:hover {
      color: $feature-color-dark;
    }
  }

  .toc-catalog {
    &:hover {
      color: $feature-color-dark;
    }
  }

  .post-title {
    a {
      color: $header-banner-text-color-dark;
    }
  }

  .post-paginator {
    .nextTitle,
    .prevTitle {
      color: $text-color-minor-dark;
      &:hover {
        color: $feature-color-dark;
      }
    }

    .nextSlogan,
    .prevSlogan {
      color: $text-color-secondary-dark;
    }
  }

  // code page
  .abstract-content,
  .article-entry {
    code {
      background: #282c34;
    }
  }

  // footer
  .copyright {
    a {
      color: $feature-color-dark;
    }
  }

  // header
  .read-progress {
    background-color: $text-color-secondary-dark;
  }

  .read-progress-feature {
    background-color: $feature-color-dark;
  }

  .banner {
    border-bottom-color: $text-color-primary-dark;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .banner-clean {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .blog-title {
    a {
      color: $header-banner-text-color-dark;
      &:hover {
        color: $feature-color-dark;
      }
    }
  }

  .header-sidebar-menu {
    border-color: $body-background-color;
    color: $body-background-color;
    &:hover {
      background-color: $body-background-color;
      color: #000;
    }
  }

  .header-sidebar-menu-rounded {
    &:hover {
      background-color: transparent;
      color: $feature-color-dark;
    }
  }

  .header-sidebar-menu-black {
    color: $text-color-primary-dark;
    background-color: $body-background-color-dark;
    border-color: $text-color-primary-dark;
    &:hover {
      background-color: $text-color-primary-dark;
      color: $body-background-color-dark;
    }
  }

  .home-link {
    &:hover {
      color: $feature-color-dark;
    }
  }

  // profile
  .profile {
    padding-top: 0;
  }

  .profile-avatar {
    box-shadow: 0 0 2px 0 $foreground-color-dark;
  }

  .profile-name {
    color: #ddd;
  }

  .friends {
    a {
      &:hover {
        color: $feature-color-dark;
      }
    }
  }

  .about-me {
    a {
      &:hover {
        color: $feature-color-dark;
      }
    }
  }

  // sidebar archive
  .archive-post-item {
    &:hover {
      border-left-color: $feature-color-dark;
      .archive-post-date,
      .archive-post-title {
        color: $feature-color-dark;
      }
    }
  }

  .site-search {
    .search-icon {
      color: $feature-color-dark;
    }
  }

  .archive-year,
  .total-archive {
    color: $feature-color-dark;
  }

  // sidebar tags
  .sidebar-tag-name,
  .sidebar-category-name {
    &:hover {
      border-color: $feature-color-dark;
      color: $feature-color-dark;
    }
  }

  .sidebar-label-focus {
    border-color: $feature-color-dark;
    color: $feature-color-dark;
  }

  // sidebar
  .sidebar-tabs {
    &::after {
      background-color: $feature-color-dark;
    }
  }

  // Algolia
  .popup {
    background: $body-background-color-dark;
    color: #e1e1e1;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  }

  .algolia-search {
    border-bottom-color: #222;
    background: $body-background-color-dark;
  }

  .popup-btn-close {
    color: $feature-color-dark;
  }

  .algolia-hit {
    &-item {
      &-link {
        em {
          color: $feature-color-dark;
        }
      }
    }
  }

  .ais-Pagination-item {
    a {
      color: $feature-color-dark;
    }
  }

  // Busuanzi
  #busuanzi_container_site_pv,
  #busuanzi_container_site_uv {
    color: $text-color-minor-dark;
  }

  // comment
  @import '_partial/_comment/_gitalk-dark';
}
