// ========== general style ========== //
@media (prefers-color-scheme: dark) {
  body {
    background-color: $body-background-dark-color;
  }

  .container {
    background-color: $body-background-dark-color;
  }

  .profile-name {
    color: #ddd !important;
  }

  .wrapper {
    box-shadow: -3px 0 2px 0 rgba(255, 255, 255, 0.6) !important;
  }

  .back-top {
    border: 2px solid #fff !important;
    background-color: rgba(18, 18, 18, 0.8) !important;
    color: #fff !important;
    &:hover {
      background-color: #fff !important;
      color: #121212 !important;
    }
  }

  .note-warning {
    background-color: #222 !important;
  }

  .abstract-title {
    color: $index-post-link-dark-color !important;
  }

  .abstract-content,
  .article-entry {
    color: $post-content-dark-color !important;
    code {
      background: #444 !important;
    }
    blockquote {
      background-color: #464646 !important;
    }
  }

  .license-wrapper {
    color: $post-content-dark-color !important;
  }

  .header-sidebar-menu-black {
    color: #fff !important;
    background-color: #121212 !important;
    border-color: #fff !important;
    &:hover {
      background-color: #fff !important;
      color: #121212 !important;
    }
  }

  .toc-wrapper {
    .toc-active {
      color: $feature-color !important;
    }
    a {
      color: #777 !important;
    }
    a:hover {
      color: $feature-color !important;
    }
  }

  .footer {
    background-color: $body-background-dark-color !important;
  }

  .banner {
    border-bottom: 1px solid rgba(255, 255, 255, 0.8) !important;
    background-color: rgba(0, 0, 0, 0.8) !important;
  }

  .blog-title {
    a {
      color: #fff !important;
      &:hover {
        color: $feature-color !important;
      }
    }
  }

  .post-title {
    a {
      color: rgba(255, 255, 255, 0.8) !important;
    }
  }

  .nextSlogan,
  .prevSlogan {
    color: #ddd !important;
  }

  .popup {
    background: #121212 !important;
    color: #e1e1e1 !important;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5) !important;
  }
  .algolia-search {
    border-bottom: 1px solid #222 !important;
    background: #121212 !important;
  }
}
