@import "_mixin";
@import "_variables";

// ========== common ========== //
.profile,
.toc-wrapper {
    display: none;
}

.container {
    width: 100%;
    margin: 0rem auto;
    padding: 1rem 0 0 0;
}

.footer {
    padding-top: 0;
}

.post-page {
    padding-bottom: 0;
}

.main {
    width: 92%;
    min-width: 0;
    margin: 0;
}

// prevent blink when touch link
* {
    -webkit-tap-highlight-color: transparent;
}

// ========== intro ========== //
.home-body {
    .site-intro-meta {
        width: 100%;
    }
    .intro-title {
        font-size: 3rem;
        line-height: 2.8rem;
    }
    .intro-subtitle {
        font-size: 1.5rem;
        white-space: normal;
        max-width: 90%;
    }
}

.post-body {
    .site-intro-meta {
        min-width: 0;
        width: 80%;
    }
    .intro-title {
        font-size: 2.6rem;
        line-height: 2.8rem;
    }
    .intro-subtitle {
        font-size: 1.5rem;
        white-space: normal;
        max-width: 90%;
    }
    .main {
        width: 86%;
    }

}

.site-intro {
    box-shadow: 0 -0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.8);
}

// ========== header ========== //
.blog-title {
    display: none;
}

.home-link {
    right: 1rem;
}

// ========== content ========== //
.post-paginator {
    .previous,
    .next {
        float: none;
        margin: 0 auto;
    }
}

.article-entry {
    blockquote {
        margin: 0.8rem 0;
    }
}

// ========== sidebar ========== //
.sidebar {
    width: 300px;
}

.wrapper-sidebar-active {
    transform: translate3d(300px, 0, 0);
}

.header-sidebar-active {
    transform: translate3d(300px, 0, 0);
}

.tab-name {
    font-size: 1.2rem;
}

.sidebar-archive {
    -webkit-overflow-scrolling: touch;
}

.archive-year,
.total-archive {
    font-size: 1.4rem;
}


.sidebar-tags {
    -webkit-overflow-scrolling: touch;
}

// ========== footer ========== //
.footer {
    margin-top: 0;
    .social {
        margin-top: 0.5rem;
        @include social($scaleSize: 0.5, $spanMargin: 0.2rem);
    }
    .copyright {
        margin: 0.5rem auto 0.5rem auto;
    }
}

#busuanzi_container_site_pv {
    font: 1rem $feature-font-family;
}