// ========== header ========== //
.header {
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: $header-height;
    overflow: hidden;
    z-index: 999;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s ease-in-out .0s;
}

.header-slide {
    transform: translate3d(150px, 0, 0);
}

.read-progress {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: $header-border-top-width;
    background-color: rgba(0, 0, 0, 0.7);
    transition: width 0.3s ease-out .0s;    
    z-index: 99999;
}

// ========== header toggle (only take effect in post page) ========== //
// banner
.banner {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: calc(100% - 1px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    transform: translate3d(0, -100%, 0);
    pointer-events: none;
    border-bottom: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    transition: transform 0.3s ease-out .0s;
    overflow: hidden;
}

.banner-show {
    transform: translate3d(0, 0, 0);
    pointer-events: initial;
}

.post-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    margin-left: 15%;
    a {
        white-space: nowrap;
        color: rgba(0, 0, 0, 0.8);
        line-height: 100%;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-bottom: 0.2rem;
        text-align: center;
        font: 1.5rem $header-title-font-family;
    }
}

.blog-title {
    position: absolute;
    right: 2.5rem;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    a {
        vertical-align: top;
        white-space: nowrap;
        color: #000;
        font: 1rem/1rem $header-title-font-family;
        &:hover {
            color: $feature-color;
        }
    }
}

// ========== header sidebar menu ========== //
.header-sidebar-menu {
    position: absolute;
    left: 1rem;
    top: 50%;
    border: 2px solid #fff;
    border-radius: 2px;
    width: $header-menu-width;
    height: $header-menu-width;
    transform: translate(0, -50%);
    font-family: 'iconfont-archer';
    line-height: 1.6rem;
    color: #fff;
    text-align: center;
    transition: all 0.1s ease-out;
    z-index: 999;
    cursor: pointer;
    &:hover {
        background-color: #fff;
        color: #000;
        transform: translate(0, -50%);
    }
}

.header-sidebar-menu-black {
    border-color: #000;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    &:hover {
        background-color: #000;
        color: #fff;
    }
}

// ========== home page link ========== //
.home-link {
    position: absolute;
    right: 2.5rem;
    top: 50%;
    transform: translate(0, -50%);
    font-family: $header-title-font-family;
    color: #fff;
    cursor: pointer;
    &:hover {
        color: $feature-color;
    }
}

.home-link-hide {
    display: none;
}