// ========== main intro ========== //
.site-intro {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    box-shadow: -0.2rem 0 0.7rem 0 rgba(0, 0, 0, 0.8);
}

// ========== intro image ========== //
.site-intro-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: calc(100% + 1px);
    width: 100%;
    filter: brightness(.5);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: transparent;
}

// ========== intro placeholder ========== //
// 在layout中 //

// ========== main intro meta ========== //
.site-intro-meta {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-title {
    font: 4rem $feature-font-family;
    color: #fff;
    margin: 0;
}

.intro-subtitle {
    font: 2rem $feature-font-family;
    color: #fff;
    margin: 0;
}