.page-nav {
  padding: .5em 0;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;

  .prev,
  .next,
  .page-number {
    padding: .1em .5em;
  }

  .prev {
    float: left;
  }

  .next {
    float: right;
  }

  a {
    color: #777;
    text-decoration: none;

    &:hover {
      color: #368CCB;
    }
  }
}
